.ipynb_checkpoints
tutorial/_build/

*~
# Byte-compiled / optimized / DLL files
**/__pycache__
*.py[cod]

# General
.DS_Store
.directory

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IntelliJ project files
.idea

# Spyder project settings
.spyderproject
.spyproject

# VSCode-like project settings
.vscode
